@import 'main.css';
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Source+Sans+Pro:300,400,700');

html {
	background: #f5f5f5;
	overflow-y:scroll;
	margin:0;
	height:100%;

}

body {
	background:none;
	background-color:#f5f5f5;
	line-height:1.5;
	color: #333;
	font-family: 'Source Sans Pro', sans-serif;
	margin:0;
	height:100%;

	
}


body >*.animation {
	-webkit-animation-play-state: paused;
	animation-play-state:paused;
    -webkit-animation: fadeIt 3s ease; 
       -moz-animation: fadeIt 3s ease; 
         -o-animation: fadeIt 3s ease; 
            animation: fadeIt 3s ease;
    -webkit-animation-fill-mode: forwards;
    }



#brand{
    	padding-left:10px;
    }
@keyframes fadeIt {
  0%   { 
  opacity:1;
}
  100% { 
	opacity: 0;
}
}

#profilePic{
	width:20%;
	border-radius: 50%;
	
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Abril Fatface', cursive;
	margin-top:0;
}
h1{
	margin-bottom:0;
}

p {
	margin-bottom:1rem;
}

.navbar-brand,.navbar-nav > li > a{
		color:#23527c;
		font-weight:bold;
		font-size:20pt;
	}
	#brand:{
		color:#f5f5f5;
	}
#brand:hover{
	text-decoration: none;
	color:#f5f5f5;
	background:none;
}

.nav-wrapper{
	border-radius:0;
	background-color:#333;
}


.nav-wrapper #mobile-demo{
	background:#f5f5f5;
}
.nav-wrapper>ul>li>a:hover{
	color:#5bc0de;
	text-decoration: none;
}


#tribar:hover{
	text-decoration: none !important;
}
#tribarIcon:hover{
	color:#5bc0de;
}
@media (max-width: 768px){
	.navbar-nav>li>a{
		margin-bottom:3px;
	}
}

.container .jumbotron, .container-fluid .jumbotron{
	padding-left:0;
	padding-right:0;
}

.jumbotron {
	background:	#5bc0de;
	margin-top:75px;
	margin-bottom:75px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.jumbotron h1{
	font-size:120px;
}

.col-md-offset-3{
	margin-left:0%;
}

.col-md-10{
	width:100%;
}
.jumbotron .lead{
	font-size:32px;
}
.jumbotron .sub{
	font-size:26px;
}


.text{
	font-size:1.6em;
}
@media (max-width:1800px){
	.jumbotron h1{
		font-size:120px;
	}
	.text{
	font-size:1.5em;
}
	.imageHolder{
		margin-left:100px;
		margin-right:100px;
	}
}

@media (max-width:1300px){
	.text{
	font-size:1em;
}
.imageHolder{
		margin:0;
	}
}
@media (max-width:992px){
	.jumbotron h1{
		font-size:72px;
	}
		.text{
	font-size:0.8em;
}
.imageHolder{
		margin:0;
	}

}
@media (max-width:768px){
	.jumbotron h1{
		font-size:40px;
	}
	.jumbotron .lead{
		font-size:20px;
	}
	.jumbotron .sub{
		font-size:16px;
	}
		.text{
	font-size:0.75em;
	}

	.parallax img{
		bottom:-150px;
	}
	.parallax-container{
		z-index: 9999;
		margin-top:-100px;
	}

    #fadeInPort > * > div > ul > li{
    	font-size:5pt;
    }

    a.button-collapse > i:hover{
    	text-decoration: none;
    }

    .brand-logo{
    	display:none !important;
    }

    .imageHolder{
		margin:0;
	}

}


.portfolio-title{
	padding:10px 15px 10px 0;
	font-weight:bold;
}
.nav-pills{
	display:flex;
	
	max-width:100%;
	max-height:100%;
	justify-content: center;
	
}
.nav-pills li{
	font-size:16pt;
}
.nav-pills > li.active > a, .nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus{
	background:#333;
	color:#f5f5f5;
}

.nav-pills a {
	color:#333;
	margin-bottom:1rem;
}

.nav > li > a:focus, .nav > li > a:hover{
	background:none;
}

.portfolio-item {
	margin-bottom:1rem;
}

.portfolio-item img {

	border-radius:4px;
}

.portfolio-item:hover img {
	-webkit-filter:grayscale(100%);
	filter:grayscale(100%);
}

.filterable-portfolio{
	margin-bottom:3rem;
}

.site-footer span{
	margin-right:.5em;
}


.panel .panel-heading{
	color:#23527c;
	background:none;
	border:none;
	box-shadow:none;
}

.panel{
	background:none;
	border:none;
	box-shadow: none;
	margin-bottom:0;
}


.list-group-item{
	background-color:transparent;
}


body > div.container > div > div.col-md-4 > div > ul > li > a:hover{
	color:#f5f5f5;
	text-decoration: none;
	background:none;
}

body > div.container > div > div.col-md-8 > article > h2 > a:hover{
	color:#f5f5f5;
	text-decoration: none;
	background:none;
}

h2 > a{
	color:#23527c;
}

article:not(:first-child){
	display:none;
}


.page-header { border-bottom-color:#333; }

.portfolio-item img{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}



.wrapper img {
    display: block;
}
.wrapper .text {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    opacity: 0;
    position: absolute;
    bottom: 0px;
    left: 10px;
    right: 10px;
    padding: 2px 0px;
    border-radius:2px;
    color: #f5f5f5;
    background: #5bc0de;
    text-decoration: none;
    text-align: center;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
    
}
.wrapper:hover .text {
    opacity:1;
}


#March3Button:hover{
	color:#333;
}
#March12Button:hover{
	color:#333;
}
#March13Button:hover{
	color:#333;
}

#March22Button:hover{
	color:#333;
}





.slideExpandUp{
	animation-name: slideExpandUp;
	-webkit-animation-name: slideExpandUp;	

	animation-duration: 1.6s;	
	-webkit-animation-duration: 1.6s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease -out;

	visibility: visible !important;	
}

@keyframes slideExpandUp {
	0% {
		transform: translateY(100%) scaleX(0.5);
	}
	30%{
		transform: translateY(-8%) scaleX(0.5);
	}	
	40%{
		transform: translateY(2%) scaleX(0.5);
	}
	50%{
		transform: translateY(0%) scaleX(1.1);
	}
	60%{
		transform: translateY(0%) scaleX(0.9);		
	}
	70% {
		transform: translateY(0%) scaleX(1.05);
	}			
	80%{
		transform: translateY(0%) scaleX(0.95);		
	}
	90% {
		transform: translateY(0%) scaleX(1.02);
	}	
	100%{
		transform: translateY(0%) scaleX(1);		
	}
}


.resumePDF{
	display:flex;
	flex-direction: column;
	width:100%;
	height:100%;

}



#CV{
	display:none;
	background-color: #d3d3d3;
	flex: 0 0 25em;
	align-items:center;
	flex-direction:column;
	max-height:100vh;
	overflow: auto !important;
	
}

#CV > *{
	visibility: hidden;
	justify-content: center;
}

#CVTopDiv{
	position: fixed;
	top:0;
	right:10%;
}