@import 'main.css';

html {
	background: #222;
	height:100%;
	background-position:fixed;
	overflow-y:;
}

body {
	background:none;
}


@keyframes fadeIt {
  0%   { 
  color:#000;
}
  50%  { 
  color:#f5f5f5;
}
  100% { 
  color:#f5f5f5;
}
}

body{    
    -webkit-animation: fadeIt 8s ease-in; 
       -moz-animation: fadeIt 8s ease-in; 
         -o-animation: fadeIt 8s ease-in; 
            animation: fadeIt 8s ease-in;
}